body{
    background-image: url(../images/máy\ bay\ mới.jpg);
    background-size: cover;
}
#form{
    
    /* height:500px; */
    width:700px;
    margin:auto;
    padding:20px;
    opacity: 0.7;
}
.text-center {
    color: #fff;
}
#form h3{
    border-bottom: 2px solid #3399ff;
    width:210px;
    padding: 5px;
}
::placeholder{
    color:#000;
}
#input #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#000;
}
#input2 #input-group{
    width:195px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#000;
}
#input3 #input-group{
    margin-left: 50px;
}
#input4 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#000;
}
#input4 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#000;
}
#input5 h3{
    border-bottom: 2px solid #3399ff;
    width:220px;
    padding: 5px;
}
#input6 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#000;
}
#input6 #input-group1{
    width:615px;
    margin:15px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#000;
}
.form-group {
    /* background-color: rgba(255, 255, 255, 0.5); */
    margin: 0 15%;
    backdrop-filter: blur(20px);
    padding-top: 20px;
    border-radius: 20px;
}
.container {
    /* width: 700px; */
    /* padding: 0 15%;
    margin: auto; */
    margin-top: 50px;
    
}